<div class="header-navigation-area three-layers-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="main-menu">
                    <nav id="mobile-menu">
                        <ul>
                            <li>
                                <a href="{% url 'Home:index' %}">خانه</a>
                            </li>
                            <li>
                                <a href="{% url 'Member:member' %}">اعضا انجمن</a>
                            </li>
                            <li>
                                <a href="{% url 'Library:library' %}">کتابخانه</a>
                            </li>
                            <li>
                                <a href="{% url 'Blog:blog' %}">اخبار و اطلاعیه‌ها</a>
                            </li>
                            <li>
                                <a href="{% url 'Course:course' %}">دوره‌ها و رویدادها</a>
                            </li>
                            <li>
                                <a href="{% url 'Competition:competition' %}">مسابقات</a>
                            </li>
                            <li>
                                <a href="{% url 'Magazine:magazine' %}">نشریه</a>
                            </li>
                            <li>
                                <a href="{% url 'Curriculum:curriculum' %}">چارت درسی و فایل‌ها</a>
                            </li>
                            <li>
                                <a href="{% url 'Gallery:gallery' %}">گالری</a>
                            </li>
                            <li>
                                <a href="{% url 'Home:contact' %}">تماس با ما</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</div>