{% if is_paginated %}
    <div class="row text-center">
        <div class="col-xl-12">
            <nav class="pagination-nav pdt-30">
                <ul class="pagination-list">
                    {% if page_obj.has_previous %}
                        <li class="pagination-left-arrow"><a
                                href="?page={{ page_obj.previous_page_number }}"><i
                                class="fa fa-angle-right"></i></a></li>
                    {% else %}
                        <li class="pagination-left-arrow disabled"><a><i
                                class="fa fa-angle-right"></i></a>
                        </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><a class="page-numbers">{{ i }}</a></li>
                        {% else %}
                            <li><a href="?page={{ i }}" class="page-numbers">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="pagination-right-arrow"><a
                                href="?page={{ page_obj.next_page_number }}"><i
                                class="fa fa-angle-left"></i></a></li>
                    {% else %}
                        <li class="pagination-right-arrow disabled"><a><i
                                class="fa fa-angle-left"></i></a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endif %}